<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>


<table>
  <caption>{{clubStat.name}}</caption>
  <tr>
    <th>Played</th>
    <th>Win</th>
    <th>Loss</th>
    <th>Draw</th>
  </tr>
  <tr>
    <td>{{this.clubStat.played}}</td>
    <td>{{this.clubStat.win}}</td>
    <td>{{this.clubStat.lost}}</td>
    <td>{{this.clubStat.draw}}</td>
  </tr>
 
</table>

</body>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onClose()" data-dismiss="modal">Close</button>
  </div>
</html>
